<ion-view  no-shadow view-title="Aventura">
  <ion-nav-view></ion-nav-view>

  <ion-content>
    <div class="list card">

      <div align="center">
        <h1>{{AdventureProfile.name}}</h1>
      </div>

      <div class="item item-body">
        <img class="image-adventure" src={{AdventureProfile.image}}>
        <p>{{AdventureProfile.description}}</p>
        <button class="button button-block button-energized" ng-click="jugar()">JUGAR</button>
      </div>

      <div class="item item-body" style="padding: 0px">
        <div class="row" ng-if="isfav=='false'">
          <div class="col col-20">
              <div class="row">
                <p>{{AdventureProfile.favs}}</p>
                <button style="background-color: transparent" class="button icon ion-ios-heart" ng-click="FavAdventure()"></button>
              </div>
          </div>
          <div class="col col-20">
            <div class="row">
              <p>{{AdventureProfile.comments.length}}</p>
              <button class="button" style="background-color: transparent" ng-click="modal.show()">
                <i class="icon ion-chatbubble"></i>
              </button>
            </div>
          </div>

          <div class="col col-40"></div>
          <div class="col col-20">
              <p>{{AdventureProfile.difficulty}}</p>
          </div>
        </div>
        <div class="row" ng-if="isfav=='true'">
          <div class="col col-20">
            <div class = "row">
              <p>{{AdventureProfile.favs}}</p>
              <button style="color: red; background-color: transparent"  class="button icon ion-ios-heart" ng-click="UnfavAdventure()"></button>
            </div>
          </div>
          <div class="col col-20">
            <div class="row">
              <p>{{AdventureProfile.comments.length}}</p>
              <button class="button" style="background-color: transparent" ng-click="modal.show()">
                <i class="icon ion-chatbubble"></i>
              </button>
            </div>
          </div>
          <div class="col col-40"></div>
          <div class="col col-20">
            <p>{{AdventureProfile.difficulty}}</p>
          </div>
        </div>
      </div>
      <br><br>
      <div>
        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset" style="border-color: transparent">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Escribe un comentario" ng-model="NewComment.text" />
          </label>
          <button class="button button-clear" ng-click="PostComment()">
            <i class="ion-android-send" style="color: darkgrey"></i>
          </button>
        </ion-footer-bar>
      </div>
    </div>
  </ion-content>
</ion-view>

<!--
<div class="row">
  <button class="button button-positive button-small button-outline ion-social-twitter" ng-click="AddTweet()"> Tweet              </button>
</div>
-->
