<ion-view view-title="Aventureros">
  <ion-content>

    <div class="bar bar-header item-input-inset">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" style="width: 100%" ng-model="busqueda.username" placeholder="Buscar una aventura">
      <button class="button button-clear button-icon" style="alignment: right" ng-click="busequeda = null">
        <i class="ion-close-round" style="color: dimgrey"></i>
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="user in users | filter:busqueda | orderBy:user.followers.length"  href=#/app/userprofile/{{user._id}} class="item item-thumbnail-left">

        <img ng-src={{user.photo}}>
        <br>
        <h2>{{ user.name }}</h2>
        <h4>{{ user.description }}</h4>
        <br>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

