<ion-view view-title="Aventureros">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="bar bar-header item-input-inset" style="background-color: white">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" style="width: 100%" ng-model="input.busqueda" placeholder="Buscar un aventurero">
      <button class="button button-clear button-icon" style="alignment: right" ng-click="deleteInputForm()">
        <i class="ion-close-round" style="color: dimgrey"></i>
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="user in users | orderBy: '-score'|filter:input.busqueda"  ng-click="goselprofileall(user._id)">
        <div class="row" style="padding: 0px">
          <div class="col col-25">
            <img ng-src={{user.photo}} class="image-avatar" style="width: 60px; height: 60px">
          </div>
          <div class="col col-55">
            <h2>{{ user.name }}</h2>
            <p>Rango: {{ user.score }}</p>
          </div>
          <div class="col col-20" style="padding-left: 2em; padding-top: 1em">
            <img ng-if="user.score >=0 && user.score <150" height="40px" width="40px" src="img/CAmpista.png">
            <img ng-if="user.score >= 150 && user.score <300" height="40px" width="40px" src="img/Navegante.png">
            <img ng-if="user.score >= 300 && user.score<450" height="40px" width="40px" src="img/Montañero.png">
            <img ng-if="user.score >= 450 " height="40px" width="40px" src="img/Aventurero.png">
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

