<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content>
    <ion-header-bar style="background-color: deepskyblue">
      <a class="button icon-left ion-chevron-left button-clear button-dark" style="color: white"  ng-href="#/app/userprofile/{{UserID}}"></a></a>
      <h1 class="title" style="color: white">Editar perfil!</h1>
    </ion-header-bar>
    <ion-content>

    <div style="padding-top: 3em">
      <div align="center">
        <img class="image-avatar" style="height:75px; width:75px" src={{UserProfileInfo.photo}}>

      </div>
      <div align="center">
        <button class="button button-clear button-positive button-small" ng-click="camera()">Cambiar foto</button>
      </div>

    </div>
    <br>

    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-90">
        <div ng-init="load()">
            <label  class="item item-input item-borderless">
              <i class="icon ion-person" ></i>
              <input type="text" style="color: black; padding-left: 1em" ng-model="UpdatedUser.name">
            </label>
            <label  class="item  item-input item-borderless">
              <i class="icon ion-at" ></i>
              <input type="text" style="color: black; padding-left: 1em" ng-model="UpdatedUser.username">
            </label>

            <label  class="item  item-input item-borderless item-body ">
              <i class="icon ion-email" ></i>
              <input type="text" style="color: black; padding-left: 1em" ng-model="UpdatedUser.email">
            </label>

            <label class="item item-input item-borderless item-text-wrap">
              <i class="icon ion-quote" ></i>
              <textarea type="text" style="color: black; padding-left: 1em; height: inherit" ng-model="UpdatedUser.description">
              </textarea>
            </label>
          </div>

        </div>
      </div>
      <div class="col col-5"></div>
    </div>
          <!--<div align="center" style="padding-top: 1em">
            <p class="text-center"style="color: black"><small>Registered {{UserProfileInfo.registerdate}}</small></p>
          </div>-->
          <br>
          <div align="center">
            <button style="width: 80%" class="button button-small button-balanced" ng-click="EditUser()">Guardar</button>
          </div>

    <div align="center">
      <button style="width: 80%" class="button" ng-click="modal.show()">Cambiar contraseña</button>
    </div>
    </ion-content>
</ion-view>
<!--
<label  class="item  item-input">
  <i class="icon ion-locked" ></i>
  <input type="password" style="color: black; padding-left: 1em" placeholder="Nueva contraseña" ng-model="NewUser.password">
</label>

<label  class="item  item-input">
  <i class="icon ion-locked" ></i>
  <input type="password" style="color: black; padding-left: 1em" placeholder="Repetir la contraseña"  ng-model="NewUser.repeat">
</label>
-->
