
<ion-view view-title="Login">

    <ion-content style="background: url(img/splash.png) no-repeat center; background-size:cover; background-attachment:fixed;">
        <br>

        <div align="center">
            <img align="center" src="img/geofinderico.png" >
            <h4>GeoFinder</h4>
        </div>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">

        <label  class="item  item-input" style="opacity: 0.8">
          <i class="icon ion-person"></i>
          <input type="text" style="color: black; padding-left: 1em" placeholder="Nombre de usuario" ng-model="user.username='marta'">
        </label>
        <br>
        <label  class="item  item-input" style="opacity: 0.8">
          <i class="icon ion-locked" ></i>
          <input type="password" style="color: black; padding-left: 1em" placeholder="Contraseña" ng-model="user.password='marta'">
        </label>

      </div>
      <div class="col col-10"></div>

    </div>


    <br>
    <div class="text-center">
      <button style="width: 80%" class="button  button-balanced" ng-click="login()">Login</button>
      <br>
      <br>

      <label style="color: whitesmoke" class="text-center">O entra con</label><br>
      <button style="width: 80%" class="button  button-positive" ng-click="main()"> <i class="icon ion-social-facebook"></i></button>
      <br>
      <br>
      <button style="width: 80%" class="button  button-calm" ng-click="main()"> <i class="icon ion-social-twitter"></i></button>
      <br><br>
      <label style="color: whitesmoke" class="text-center">Aún no tienes una cuenta?</label>
      <button style="width: 80%" class="button  button-energized" ng-click="Register()">Regístrate</button>

    </div>
    </ion-content>

</ion-view>
