
<ion-view view-title="Explorar" >

  <ion-content>

    <ion-list>
      <ion-item ng-repeat="item in items | filter:busqueda" href="#/app/adventures/{{item._id}}" class=" item-thumbnail-left">

          <img ng-src={{item.image}}>
          <br>
          <h2>{{ item.name }}</h2>
          <h3>{{ item.description }}</h3>
          <h4>Dificultad: {{item.difficulty}}</h4>
          <br>

      </ion-item>
    </ion-list>

  </ion-content>
  <div style="position: absolute; top: 0px; width: 100%" class="button-bar">
    <button class="button icon ion-ios-location" ng-click="showNear()">
    </button>
    <button class="button icon ion-earth" ng-click="showAll()">
    </button>
    </button>
    <button class="button icon ion-android-contacts" ng-click="showAll()">
    </button>
  </div>
</ion-view>

