<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="positive">
        <ion-nav-bar class="positive">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-dark ion-navicon" menu-toggle="left" style="color: white"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
            <button class="button button-icon button-dark ion-android-search" menu-toggle="right" style="color: white" ng-click="SearchView()"></button>
          </ion-nav-buttons>
          <ion-nav-back-button style="color: white">
          </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="custom">
            <a menu-close style="align-content: center; color: inherit; text-decoration:none"  href="#/app/userprofile/{{UserID}}">
              <div class="row" style="background-color: deepskyblue; text-decoration:none">
              <div class="col-40">
                <img src={{User.photo}} height="100px" width="100px" style="text-decoration:none; border-radius: 50%; padding-top: 8%; padding-left: 10%">
              </div>
              <div class="col-50">
                <h4 style="text-decoration:none; padding-top: 26%; color: white">&nbsp;{{User.username}}</h4>
              </div>
              <br>
              </div>
            </a>
            <ion-list>
              <div class="item-content">
                <ion-item  menu-close href="#/app/main" class="my item">
                   <i class="ion-bonfire"></i> Explorar
                </ion-item>
                <ion-item menu-close href="#/app/allusers">
                  <i class="ion-ios-people"></i> Aventureros
                </ion-item>
                <ion-item menu-close href="#/app/myadventures">
                  <i class="ion-android-compass"></i> Mis Aventuras
                </ion-item>
                <ion-item menu-close class="letra" href=#/app/userprofile/{{UserID}}>
                  <i class="ion-person"></i> Perfil
                </ion-item>
                <ion-item menu-close class="letra" href=#/app/userprofile/{{UserID}}>
                  <i class="ion-log-out"></i> Cerrar
                </ion-item>
              </div>
            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
