<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="positive">
        <ion-nav-bar class="positive">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-dark ion-navicon" menu-toggle="left" style="color: black"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
            <button class="button button-icon button-dark ion-android-search" menu-toggle="right" style="color: black" ng-click="SearchView()"></button>
          </ion-nav-buttons>
          <ion-nav-back-button style="color: black">
          </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="positive">
            <a class="item item-avatar" style="align-content: center" href="#/app/userprofile/{{UserID}}">
              <img src={{User.photo}}>
              <h2>{{User.username}}</h2>
            </a>
            <ion-list>
                <ion-item nav-clear menu-close style="color: black" href="#/app/main">
                   <i class="ion-bonfire"></i>  Explorar
                </ion-item>
                <ion-item nav-clear menu-close style="color: black" href="#/app/allusers">
                  <i class="ion-ios-people"></i> Aventureros
                </ion-item>
                <ion-item nav-clear menu-close style="color: black" href="#/app/myadventures">
                  <i class="ion-android-compass"></i>  Mis Aventuras
                </ion-item>

                <ion-item nav-clear menu-close class="letra" style="color: black" href=#/app/userprofile/{{UserID}}>

                  <i class="ion-person"></i> Perfil
                </ion-item>

                <ion-item nav-clear menu-close style="color: black" href="#/app/position">
                  <i class="ion-ios-location"></i> Geolocalizacion
                </ion-item>
            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
