<ion-view  no-shadow view-title="Mis Aventuras" >

  <ion-content>

    <ion-list>
      <ion-item ng-repeat="item in items track by $index" href="#/app/adventures/{{item._id}}" class=" item-thumbnail-left">
        <img ng-src={{item.image}}>
        <br>
        <h2>{{ item.name }}</h2>
        <h3>{{ item.description }}</h3>
        <h4>Dificultad: {{item.difficulty}}</h4>
        <br>
        <div ng-show="$last">
          <br>
        </div>
      </ion-item>
    </ion-list>

    <div ng-if="items.length == 0">
      <div class="row" style="padding-top: 3em">
        <div class="col text-center">
          <h4 style = "color: dimgrey"> No hay aventuras para mostrar </h4>
        </div>
      </div>


    </div>


  </ion-content>

  <div style="position: absolute; bottom: 0px; width: 100%" class="button-bar">
    <button class="button icon " ng-if="Bplayed=='true'" style="background-color: white; color: darkslategrey"> Jugadas
    </button>
    <button class="button icon" ng-if="Bplayed=='false'"ng-click="showJugadas()" style="background-color: white; color: lightgrey">Jugadas
    </button>
    <button class="button icon" ng-if="Bcreated=='true'"  style="background-color: white; color: darkslategrey"> Creadas
    </button>
    <button class="button icon" ng-if="Bcreated=='false'" ng-click="showCreadas()" style="background-color: white; color: lightgrey"> Creadas
    </button>
    <button class="button icon" ng-if="Bfavs=='true'" style="background-color: white; color: darkslategrey"> Favoritas
    </button>
    <button class="button icon" ng-if="Bfavs=='false'" ng-click="showFav()" style="background-color: white; color: lightgrey"> Favoritas
    </button>
  </div>
</ion-view>




