
<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content>
    <ion-header-bar class="bar-dark" >
      <h1 class="title">Encuentra la pista siguiente!</h1>
      <!--ion-more-->
      <button style="width: 20%" class="button" ng-click="modal.show()">Pistas</button>
    </ion-header-bar>
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark" >
      <div class="row">
        <div class="text-center">
          <button class="button button-assertive" ng-click="showConfirm()">Salir de la Aventura</button>
        </div>
      </div>
    </ion-footer-bar>
  </ion-content>
</ion-view>
