
<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content>
    <ion-header-bar style="background-color: #00ADB5">
      <!--<h1 class="title">Encuentra la pista siguiente!</h1>-->
      <!--ion-more-->
      <button style="width: 20%" class="button button-outline" ng-click="modal.show()"><i class="ion-navicon-round" style="color: white">Pistas</i></button>
      <button style="width: 20%" class="button button-outline" ng-click="showConfirm()"><i class="ion-close-round" style="color: white"></i></button>
    </ion-header-bar>
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
  </ion-content>
</ion-view>
