<ion-view view-title="Register">

  <ion-content style="background: url(img/splash.png) no-repeat center; background-size:cover; background-attachment:fixed;">
    <br>
    <div align="center">
      <img src="img/geofinderico.png" >
      <h4>Regístrate</h4>
    </div>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">
        <label  class="item  item-input" style="opacity: 0.8">
          <i class="icon ion-person" ></i>
          <input type="text" style="color: black; padding-left: 1em" placeholder="Nombre"  ng-model="NewUser.name">
        </label>
        <br>
        <label  class="item  item-input" style="opacity: 0.8">
          <i class="icon ion-at" ></i>
          <input type="text" style="color: black; padding-left: 1em" placeholder="Usuario"  ng-model="NewUser.username">
        </label>
        <br>
        <label  class="item  item-input" style="opacity: 0.8">
          <i class="icon ion-email" ></i>
          <input type="text" style="color: black; padding-left: 1em" placeholder="Email"  ng-model="NewUser.email">
        </label>
        <br>
        <label  class="item  item-input" style="opacity: 0.8">
          <i class="icon ion-locked" ></i>
          <input type="password" style="color: black; padding-left: 1em" placeholder="Contraseña" ng-model="NewUser.password">
        </label>
        <br>
        <label  class="item  item-input" style="opacity: 0.8">
          <i class="icon ion-locked" ></i>
          <input type="password" style="color: black; padding-left: 1em" placeholder="Repetir la contraseña"  ng-model="NewUser.repeat">
        </label>

      </div>
      <div class="col col-10"></div>

    </div>

    <br>

    <div class="text-center">
      <button class="button button-block button-positive" ng-click="qrcode()">Leer QR</button>
      <button style="width: 80%" class="button  button-energized" ng-click="Register()">Crear cuenta</button>
    </div>


  </ion-content>


</ion-view>
