<ion-view view-title="Buscar">
  <ion-content>
    <div class="bar bar-header item-input-inset" style="background-color: white">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" style="width: 100%" ng-model="input.busqueda" placeholder="Buscar una aventura">
        <button class="button button-clear button-icon" style="alignment: right" ng-click="deleteInputForm()">
          <i class="ion-close-round" style="color: dimgrey"></i>
        </button>
    </div>
    <div class="padding text-center">
      <button class="button button-outline button-balanced button-small icon ion-bug tagged" ng-click="Facil()">&nbsp;Fácil</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button button-outline button-energized button-small icon ion-ios-paw tagged" ng-click="Media()">&nbsp;Media</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button button-small button button-outline button-assertive ion-fireball tagged" ng-click="Dificil()">&nbsp;Difícil</button>
    </div>

    <!--<div class="button-bar">
      <button class="button button-outline button-balanced icon ion-bug"   ng-click="Facil()"> Fácil
      </button>
      <button class="button button-outline button-energized icon ion-ios-paw" ng-click="Media()"> Media
      </button>
      <button class="button button-outline button-assertive icon ion-ios-sunny" ng-click="Dificil()"> Difícil
      </button>
    </div>-->
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in items | filter:input.busqueda | filter:dificultad" href="#/app/adventures/{{item._id}}" class=" item-thumbnail-left">

        <img ng-src={{item.image}}>
        <br>
        <h2>{{ item.name }}</h2>
        <h3>{{ item.description }}</h3>
        <h4>{{item.difficulty}}</h4>
        <br>

      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
