<ion-view view-title="Buscar">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="busqueda" placeholder="Buscar una aventura">
        <button class="button button-clear" ng-click="busequeda.text = null">
          <i class="ion-close-round" style="color: dimgrey"></i>
        </button>
      </label>
    </div>

  </ion-content>

</ion-view>
