<ion-view view-title="Buscar">
  <ion-content>
    <div class="bar bar-header item-input-inset">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="busqueda" placeholder="Buscar una aventura">
        <button class="button button-clear" ng-click="busequeda = null">
          <i class="ion-close-round" style="color: dimgrey"></i>
        </button>
    </div>

  </ion-content>
  <div style="position: absolute; bottom: 0px; width: 100%" class="button-bar">
    <button class="button"> Fácil
    </button>
    <button class="button"> Medio
    </button>
    </button>
    <button class="button"> Difícil
    </button>
  </div>
</ion-view>
