<ion-modal-view>
  <ion-header-bar>
    <h3 style="color:white" class="title">Sugerencias</h3>
    <button class="button button-icon ion-ios-close-empty" style="color:white" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Escriba su sugerencia
      </div>
      <div class="list">
        <div class="item">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="sug.email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Asunto</span>
            <input type="text" placeholder="Asunto" ng-model="sug.subject">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Sugerencia</span>
            <input type="text" placeholder="Sugerencia" ng-model="sug.text">
          </label>
        </div>

        <div align="center" style="padding-top: 2em">
          <button class="button button-block button-balanced" ng-click="sendSuggest()" ng-disabled="!sug.email || !sug.text" >
            Enviar
          </button>
        </div>

      </div>
    </div>
  </ion-content>
</ion-modal-view>
