<ion-modal-view>
  <ion-header-bar>
    <h3 style="color:white" class="title">Sugerencias</h3>
    <button class="button button-icon ion-ios-close-empty" style="color:white" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Escriba su sugerencia
      </div>
      <form action="mailto: marta.couto.g@gmail.com" method="post" enctype="text/plain">
      <div class="list">
        <div class="item">
          <label class="item item-input item-floating-label">
            <span class="input-label">Asunto</span>
            <input type="text" placeholder="Asunto" ng-model="suggestion.subject">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Sugerencia</span>
            <input type="text" placeholder="Sugerencia" ng-model="suggestion.body">
          </label>
        </div>

        <div align="center" style="padding-top: 2em">
          <button class="button button-block button-balanced" ng-click="enviar(suggestion)" ng-disabled="!suggestion.body" >
            Enviar
          </button>
        </div>

      </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
