<ion-view view-title="Perfil">
  <ion-content>
    <div class="list card">
        <div class="row">
        <div class="col col-75">
          <div class="row">
            <div class="col col-25">
              <img style="width: 70px; height: 70px; border-radius: 8%" src="{{UserProfileInfo.photo}}">
            </div>
            <div class="col col-75">
              <h2 style="font-size: 20px">&nbsp;&nbsp;&nbsp;&nbsp;<b>{{UserProfileInfo.username}}</b></h2>
              <p style="color: darkgray;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{UserProfileInfo.name}}</p>
             </div>
          </div>
        </div>
        <div class="col col-25 col-center">
              <button ng-if="UserProfileInfo._id != UserID && isfollowing == 'false'" class="button button-block button-small button-outline button-positive" ng-click="followUser()"><b>Seguir</b></button>
              <button ng-if="UserProfileInfo._id != UserID && isfollowing == 'true'" class="button button-block button-small button-outline button-assertive" ng-click="stopfollowUser()"><b>Dejar</b></button>
              <a href="#/app/user"><button ng-if="UserProfileInfo._id == UserID" class="button button-light"><i class="icon ion-gear-a"></i></button></a>
        </div>
        </div>
      <div class="item item-body text-center">
        <img ng-if="AdventuresLength >=0 && AdventuresLength <3" height="70px" width="70px" src="img/CAmpista.png">
        <img ng-if="AdventuresLength >= 3 && AdventuresLength <10" height="70px" width="70px" src="img/Navegante.png">
        <img ng-if="AdventuresLength >= 10 && AdventuresLength<20" height="70px" width="70px" src="img/Montañero.png">
        <img ng-if="AdventuresLength >= 20 " height="70px" width="70px" src="../img/Aventurero.png">
        <p class="text-left">
          {{ UserProfileInfo.description}}
        </p>
      </div>
    </div>
    <div class="list card">
      <a style="color: black" class="item item-icon-left" href="#/app/usersfollowers/{{UserProfileInfo._id}}">
        <i class="icon ion-person-stalker"></i>
        Seguidores
        <span class="badge badge-positive">{{UserProfileInfo.followers.length}}</span>
      </a>

      <a style="color: black" class="item item-icon-left" href="#/app/usersfollowing/{{UserProfileInfo._id}}">
        <i class="icon ion-person"></i>
        Seguidos
        <span class="badge badge-positive">{{UserProfileInfo.following.length}}</span>
      </a>


      <a style="color: black" class="item item-icon-left" href="#">
        <i class="icon ion-map"></i>
        Aventuras creadas
        <span class="badge badge-positive">{{UserProfileInfo.adventures.played.length}}</span>
      </a>
      <a style="color: black" class="item item-icon-left" href="#">
        <i class="icon ion-play"></i>
        Aventuras jugadas
        <span class="badge badge-positive">{{UserProfileInfo.adventures.created.length}}</span>
      </a>
    </div>
  </ion-content>
</ion-view>


