<ion-view view-title="Perfil">
  <ion-content>
    <span class="list">
    <br>
        <div align="center" class="item item-avatar" style="align-content: center" href="#">
              <img ng-src="{{ UserProfileInfo.photo}}">
          <h1 class="padding gotham-medium  text-center" style="color: limegreen">{{UserProfileInfo.username}}</h1>
        </div>
    </span>

    <ion-item class="item-icon-right">
      <label><b>Nombre de usuario: </b></label><h2 class="text-right">{{UserProfileInfo.username}}</h2>
      <label><b>Descripción: </b></label> <h2 class="text-right">{{UserProfileInfo.description}}</h2>
    </ion-item>

    <ion-item class="item item-icon-left" href="#/app/usersfollowers">
      <i class="icon ion-person-stalker"></i>
      Seguidores
      <span class="badge badge-positive">{{UserProfileInfo.followers.length}}</span>
    </ion-item>
    <ion-item class="item item-icon-left" href="#">
      <i class="icon ion-person"></i>
      Seguidos
      <span class="badge badge-positive">{{UserProfileInfo.following.length}}</span>
    </ion-item>
    <ion-item class="item item-icon-left" href="#">
      <i class="icon ion-map"></i>
      Aventuras creadas
      <span class="badge badge-positive">{{UserProfileInfo.adventures.played.length}}</span>
    </ion-item>
    <ion-item class="item item-icon-left" href="#">
      <i class="icon ion-play"></i>
      Aventuras jugadas
      <span class="badge badge-positive">{{UserProfileInfo.adventures.created.length}}</span>
    </ion-item>
    <br>
    <div class="col-100" align="center">
      <button ng-if="UserProfileInfo._id != UserID && isfollowing == 'false'" class="button button-calm" ng-click="followUser()"><b>Seguir</b></button>
      <button ng-if="UserProfileInfo._id != UserID && isfollowing == 'true'" class="button button-assertive" ng-click="stopfollowUser()"><b>Dejar de Seguir</b></button>
      <button ng-if="UserProfileInfo._id == UserID" class="button button-stable" href="#/app/user">Edita tu perfil</button>
    </div>
  </ion-content>
</ion-view>


