<ion-view view-title="Seguidores">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="follower in followers | filter:busqueda" href="#/app/userprofile/{{follower._id}}" class="item item-thumbnail-left">

        <img ng-src={{follower.photo}}>
        <br>
        <h2>{{ follower.name }}</h2>
        <h4>{{ follower.description }}</h4>
        <br>

      </ion-item>
    </ion-list>
    <div ng-if="followers.length == 0">
      <div class="row" style="padding-top: 3em">
        <div class="col text-center">
          <h4 style = "color: dimgrey"> {{name}} no tiene seguidores</h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
